root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 100

[*.{html,css,js,jsx,mjs,json}]
indent_size = 2

[*.{config,csproj,props,slnx,targets,xaml,xml}]
indent_size = 2

[*.{cs,csx}]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

