DB_CONNECTION_STRING=Host=postgres;Port=5432;Database=postgres;Username=;Password=;Enlist=false
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=postgres

REDIS_CONNECTION_STRING=redis,password=SENHA_REDIS
REDIS_ARGS=--requirepass SENHA_REDIS
